<div class="row">
  <div class="col-md-4 col-md-offset-4">

      <% if current_user %>

        <form action=""></form>

      <% else  %>

        <h1> hi, there please sign in </h1>

      <% end %>


        </div>
</div>